{% extends 'base.html.twig' %}

{% block title %}Djs index{% endblock %}

{% block body %}
    <h1>Djs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Fechan</th>
                <th>Generos</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dj in djs %}
            <tr>
                <td>{{ dj.id }}</td>
                <td>{{ dj.Nombre }}</td>
                <td>{{ dj.Fechan ? dj.Fechan|date('Y-m-d') : '' }}</td>
                <td>{{ dj.Generos }}</td>
                <td>
                    <a href="{{ path('djs_show', {'id': dj.id}) }}">show</a>
                    <a href="{{ path('djs_edit', {'id': dj.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('djs_new') }}">Create new</a>
{% endblock %}
