{% extends 'base.html.twig' %}

{% block title %}Djs{% endblock %}

{% block body %}
    <h1>Djs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dj.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ dj.Nombre }}</td>
            </tr>
            <tr>
                <th>Fechan</th>
                <td>{{ dj.Fechan ? dj.Fechan|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Generos</th>
                <td>{{ dj.Generos }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('djs_index') }}">back to list</a>

    <a href="{{ path('djs_edit', {'id': dj.id}) }}">edit</a>

    {{ include('djs/_delete_form.html.twig') }}
{% endblock %}
