{% extends 'base.html.twig' %}

{% block title %}Techyes{% endblock %}

{% block body %}
    <h1>Techyes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ techye.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ techye.Nombre }}</td>
            </tr>
            <tr>
                <th>Autor</th>
                <td>{{ techye.Autor }}</td>
            </tr>
            <tr>
                <th>Productora</th>
                <td>{{ techye.productora }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('techyes_index') }}">back to list</a>

    <a href="{{ path('techyes_edit', {'id': techye.id}) }}">edit</a>

    {{ include('techyes/_delete_form.html.twig') }}
{% endblock %}
